// Library
@import 'library';

// Config
@import 'base/fonts';
@import 'base/reset';
@import 'base/variables';
@import 'base/typography';
@import 'base/global';

// Layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/header-sidebar';

// Modules
@import 'modules';

// Utilities
@import 'utils/functions';
@import 'utils/mixins';

.menu-dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 0;
    overflow: hidden;

    &--visible {
        height: 100%;
    }

    &__item-link {
        @include font(14px, 16px, $color-fourth) {
            @extend %roboto-400;
        }
    }
}

.hero-slider {
    position: relative;

    .swiper {
        z-index: 0;
    }

    &__slide {
        position: relative;
        height: 100dvh;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#150A03, .35);
        }

        img {
            display: block;
            @include image-default();
            
        }
    }
}

// Media queries
@import 'base/media';