@use '../../base/variables';

.menu-item-dropdown {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    cursor: pointer;

    &__text {
        position: relative;
        padding: 0;
        transition: padding variables.$transitionDuration variables.$transitionTimingFunc;
        user-select: none;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 8px;
            left: -100%;
            background-color: variables.$color-third;

            transition: left variables.$transitionDuration variables.$transitionTimingFunc;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: variables.$color-third;

        transition: transform variables.$transitionDuration variables.$transitionTimingFunc;
    }
}

.load-more .menu-item-dropdown:hover,
.menu-item-dropdown--active {
    .menu-item-dropdown {
        &__text {
            padding: 0 18px 0 9px;

            &::before {
                left: 0;
            }
        }

        &__icon {
            transform: rotate(45deg);
        }
    }
}

@media (max-width: 414px) {
    .menu-item-dropdown {
        &__text {
            font-size: 16px;
            left: 22px;
        }
    }
}

@media (max-width: 320px) {
    .menu-item-dropdown {
        &__text {
            font-size: 12px;
            left: 16px;
        }

        &__icon {
            width: 20px;
            height: 20px;
        }
    }
}