@use '../../base/variables';

.menu-item-dropdown {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    cursor: pointer;
    
    &__text {
        position: relative;
        padding: 0;
        transition: padding variables.$transitionDuration variables.$transitionTimingFunc;
        user-select: none;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 8px;
            left: -100%;
            background-color: variables.$color-third;

            transition: left variables.$transitionDuration variables.$transitionTimingFunc;
        }
    }

    svg {
        width: 24px;
        height: 24px;
        fill: variables.$color-third;

        transition: transform variables.$transitionDuration variables.$transitionTimingFunc;
    }

    &--active {
        p {
            padding: 0 18px 0 9px;

            &::before {
                left: 0;
            }
        }

        svg {
            transform: rotate(45deg);
        }
    }
}