@use '../base/variables.scss';

@forward '../../../node_modules/swiper/swiper.scss';
@forward '../../../node_modules/ion-rangeslider/css/ion.rangeSlider';

.swiper-pagination-bullet {
    display: block;
    width: 8px;
    height: 8px;
    background-color: variables.$color-fourth;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(variables.$color-first, .6);

    &-active {
        border: none;
        background-color: variables.$color-third;
    }
}

.swiper-pagination {
    position: absolute;
    bottom: 60px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-images-slider__pagination,
.goods-slider-pagination--sm,
.personal-details-address-slider-pagination--sm {
    flex-direction: column;

    .swiper-pagination-bullet {
        border: 1px solid rgba(variables.$color-first, .5);
    }
}

.personal-details-address-slider .swiper-slide {
    width: 337px;
}

@media (max-width: 320px) {
    .personal-details-address-slider .swiper-slide {
        width: 100%;
    }
}