// ::-webkit-scrollbar {
//     display: none;
// }

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
    padding-top: 62px;

    &__inner--cart {
        margin: 15px 0 100px;
    }

    &__inner--personal,
    &__inner--personal-favorites {
        margin: 30px 0 100px;
    }

    &__inner--product {
        margin-bottom: 100px;
    }

    &__inner--thanks,
    &__inner--order-paid,
    &__inner--order-created {
        margin-top: 200px;
    }

    &__inner--guest-favorites {
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-top: 30px;
    }

    &__inner--auth {
        margin-top: 30px;
    }

    &--index {
        padding-top: 0;
    }

    &--catalog {
        padding-top: 80px;
    }

    &--ordering-map {
        padding: 0 !important;
        z-index: 1;
    }
}

.main--ordering-map + [data-sidebar-page="ordering-map"] [data-sidebar-close="ordering-map"] {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $color-sixth;
}

.container {
    max-width: calc(1740px + 40px);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.no-scroll {
    overflow: hidden;
}

.d-none {
    display: none !important;
}

.background-blur {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &--active {
        background-color: rgba($color-first, .3);
        backdrop-filter: blur(2px);
        z-index: 2;
    }
}

.background-blackout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &--active {
        background-color: rgba($color-first, .5);
        z-index: 2;
    }
}

.form-title {
    width: 100%;
    @extend %text-style;
    padding: 10px 15px;
    background-color: $color-fourth;
}

.thanks,
.order-paid,
.order-created {
    margin: 0 auto;
}

.thanks {
    max-width: fit-content;
}

.order-paid,
.order-created {
    max-width: calc(403px + 40px);
}

@media (max-width: 1440px) {
    .main {
        &__inner--cart,
        &__inner--personal,
        &__inner--personal-favorites,
        &__inner--product {
            margin-bottom: 90px;
        }

        &__inner--guest-favorites {
            gap: 90px;
        }

        &__inner--thanks,
        &__inner--order-paid,
        &__inner--order-created {
            margin-top: 120px;
        }
    }
}

@media (max-width: 1024px) {
    .main {
        &__inner--cart,
        &__inner--personal,
        &__inner--personal-favorites,
        &__inner--product {
            margin-bottom: 80px;
        }

        &__inner--guest-favorites {
            gap: 80px;
        }

        &__inner--thanks,
        &__inner--order-paid,
        &__inner--order-created {
            margin-top: 130px;
        }
    }
}

@media (max-width: 768px) {
    .main {
        padding-top: 56px;

        &__inner--thanks,
        &__inner--order-paid,
        &__inner--order-created {
            margin-top: 190px;
        }

        &--catalog {
            padding-top: 66px;
        }

        &--index {
            padding-top: 0;
        }
    }
}

@media (max-width: 414px) {
    .main {
        &__inner--cart,
        &__inner--personal,
        &__inner--personal-favorites,
        &__inner--product {
            margin-bottom: 70px;
        }

        &__inner--guest-favorites {
            gap: 70px;
        }

        &__inner--thanks,
        &__inner--order-paid,
        &__inner--order-created {
            margin-top: 60px;
        }

        &__inner--change-password {
            margin-top: 30px;
        }
    }

    .thanks,
    .order-paid,
    .order-created {
        max-width: 100%;
    }

}

@media (max-width: 320px) {
    .main {
        padding-top: 42px;

        &__inner--thanks,
        &__inner--order-paid,
        &__inner--order-created {
            margin-top: 50px;
        }

        &--catalog {
            padding-top: 56px;
        }

        &--index {
            padding-top: 0;
        }
    }
}