@use "./variables.scss";
@use "../utils/mixins.scss";

body {
    @include mixins.font(14px, 19px) {
        letter-spacing: 0.035em;
        text-align: left;
        @extend baskerville-400;
    }
}

h1,
h2,
h3 {
    @include mixins.font(20px, 25px) {
        letter-spacing: 0em;
        text-align: left;
    }
}

h1 {
    &.title--en {
        @extend libre-baskerville-700;
    }

    &.title--ru {
        @extend baskerville-700;
        line-height: 24px;
    }
}

h2 {
    &.title--en {
        @extend libre-baskerville-400;
    }
    
    &.title--ru {
        @extend baskerville-400;
        line-height: 24px;
    }
}

h3 {
    &.title--en {
        @extend libre-baskerville-400-italic;
    }
    
    &.title--ru {
        @extend baskerville-400-italic;
        line-height: 24px;
    }
}