@use "./variables.scss";
@use "../utils/mixins.scss";

body {
    @include mixins.font(14px, 19px) {
        letter-spacing: 0.035em;
        text-align: left;
        @extend %baskerville-400;
    }
}

h1,
h2,
h3 {
    @include mixins.font(20px, 25px) {
        letter-spacing: 0em;
        text-align: left;
    }
}

h1 {
    &.title--en {
        @extend %libre-baskerville-700;
    }

    &.title--ru {
        @extend %baskerville-700;
        line-height: 24px;
    }
}

h2 {
    @include mixins.font(32px, 39px, variables.$color-first) {
        @extend %cormorant-600;
        letter-spacing: 0em;
        text-transform: uppercase;
    }
}

h3 {
    &.title--en {
        @extend %libre-baskerville-400-italic;
    }

    &.title--ru {
        @extend %baskerville-400-italic;
        line-height: 24px;
    }
}

@media (max-width: 1024px) {
    h2 {
        @include mixins.font(25px, 25px) {
            letter-spacing: 0.015em;
        }
    }
}

@media (max-width: 320px) {
    h2 {
        @include mixins.font(20px, 20px);
    }
}