$color-first: #141318;
$color-second: #003125;
$color-third: #A0061F;
$color-fourth: #EDEBEB;
$color-fifth: #85C1E4;
$color-sixth: #F4F3F3;
$bg-color: #DBDBDB;

$transitionTimingFunc: cubic-bezier(0.165, 0.84, 0.44, 1);
$transitionDuration: .4s;

%baskerville-700 {
    font-family: 'Baskerville Cyrillic LT Std';
    font-weight: bold;
    font-style: normal;
}

%baskerville-400 {
    font-family: 'Baskerville Cyrillic LT Std';
    font-weight: normal;
    font-style: normal;
}

%baskerville-400-italic {
    font-family: 'Baskerville Cyrillic LT Std';
    font-weight: normal;
    font-style: italic;
}

%libre-baskerville-700 {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-style: normal;
}

%libre-baskerville-400 {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-style: normal;
}

%libre-baskerville-400-italic {
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-style: italic;
}

%roboto-400 {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}

%roboto-500 {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
}