@use '../base/variables.scss';

.color-pick {
    display: block;
    width: 45px;
    height: 45px;
    padding: 4px;
    border: 1px solid rgba(variables.$color-first, .3);
    transition: border-color variables.$transitionDuration variables.$transitionTimingFunc;
    cursor: pointer;

    &--active {
        border-color: variables.$color-first;
    }

    &--disabled {
        cursor: default;
    }

    &__input {
        display: none;
    }

    &__color {
        width: 100%;
        height: 100%;
    }
}