@use '../base/variables.scss';
@use '../utils/mixins.scss';

.input {
    width: 100%;
    padding: 15px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(variables.$color-first, .15);
    outline: none;

    &,
    &__placeholder {
        @extend %text-style-first;
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(variables.$color-first, .6);
        transition-property: font-size;
        transition-property: top;
        transition-duration: variables.$transitionDuration;
        transition-timing-function: variables.$transitionTimingFunc;
        cursor: auto;
    }

    &__icon {
        width: 22px;
        height: 22px;
        cursor: pointer;
    }

    &__icon-done,
    &__icon-hidden,
    &__icon-show {
        margin-left: auto;
        display: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__icon-magnifying {
        display: none;
        margin-right: 15px;
    }

    &__wrapper:has(.input--active) {
        .input {
            &__placeholder {
                top: 0;
                @include mixins.font(10px, 12px);
            }
        }
    }

    &--error {
        border-bottom-color: variables.$color-third;
        color: variables.$color-third;
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;

        &--done {
            .input {
                &__icon-done {
                    display: block;
                }
            }
        }

        &--address {
            .input {
                width: 100%;
                padding-left: 35px;

                &__placeholder {
                    left: 35px;
                }

                &__icon-magnifying {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                }
            }
        }

        &--password {
            .input__icon-hidden {
                display: block;
            }

            &--visible {
                .input__icon-hidden {
                    display: none;
                }

                .input__icon-show {
                    display: block;
                }
            }

        }
    }
}