@use '../base/variables.scss';

.personal-nav {
    padding: 10px 0;
    overflow: hidden;
    transition: height variables.$transitionDuration variables.$transitionTimingFunc;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    &__list-item {
        cursor: pointer;

        &__link {
            @extend %text-style-first;
            color: variables.$color-first;
            user-select: none;
        }

        &--active .personal-nav__list-item__link {
            color: variables.$color-third;
        }
    }
}

@media (min-width: 531px) {
    .personal-nav__list-item__icon {
        display: none;
    }
}

@media (max-width: 768px) {
    .personal-nav {
        &__list {
            gap: 30px;
        }
    }
}

@media (max-width: 530px) {
    .personal-nav {
        height: 42px;

        &__list {
            flex-direction: column;
            gap: 20px;
        }

        &__list-item {
            display: flex;
            align-items: center;
            gap: 15px;

            &__icon {
                display: block;
                width: 22px;
                height: 22px;
                fill: variables.$color-third;
                transition: transform variables.$transitionDuration variables.$transitionTimingFunc;
            }

            &--active {
                order: -1;

                .personal-nav {
                    &__list-item {
                        &__link {
                            color: variables.$color-first;
                        }
                    }
                }
            }
        }

        &--active {
            height: 155px;

            .personal-nav {
                &__list-item {
                    &__icon {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}