@use '../base/variables.scss';
@use '../utils/mixins.scss';

.product-images-slider {
    width: 870px;
    z-index: 0;

    &__close {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    &__pagination {
        top: 50%;
        transform: translateY(-50%);
        justify-content: center;
    }

    &__close,
    &__pagination {
        display: none;
        position: absolute;
        right: 30px;
        z-index: 1;
    }

    &--fullscreen {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$color-fourth;
        z-index: 2;

        .product-images-slider {
            &__close {
                top: 30px;
                display: block;
            }

            &__pagination {
                display: flex;
            }
        }

        .product-images-slider-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100dvh;

            &__icon {
                display: none;
            }
        }
    }
}

.product-images-slider-slide {
    position: relative;

    &__img {
        width: 870px;
        height: 858px;

        img {
            @include mixins.image-default();
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity variables.$transitionDuration variables.$transitionTimingFunc;
        cursor: pointer;

        &--md {
            display: none;
        }

        &,
        svg {
            width: 40px;
            height: 40px;
        }
    }

    &:hover {
        .product-images-slider-slide {
            &__icon {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1440px) {
    .product-images-slider {
        width: 660px;

    }

    .product-images-slider-slide {
        &__img {
            width: 660px;
            height: 642px;
        }
    }
}

@media (max-width: 1180px) {
    .product .product-images-slider {
        width: 489px;
    }

    .product .product-images-slider-slide {
        &__img {
            width: 489px;
            height: 632px;
        }
    }
}

@media (max-width: 768px) {
    .product {
        .product-images-slider {
            position: relative;
            width: 100%;

            &__pagination {
                display: flex;
                flex-direction: row;
                bottom: 20px;
                right: unset;
                left: 50%;
                top: unset;
                transform: translateY(0);
                transform: translateX(-50%);
            }

            &--fullscreen {
                position: fixed;
                width: 100%;

                .product-images-slider-slide {
                    &__icon--md {
                        display: none;
                    }
                }
            }
        }

        .product-images-slider-slide {
            &__img {
                width: 100%;
                height: 700px;
            }

            &__icon {
                display: none;

                &--md {
                    display: block;
                    transform: translate(0, 0);
                    top: unset;
                    left: unset;
                    bottom: 20px;
                    right: 20px;

                    &,
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .product {
        .product-images-slider-slide {
            &__img {
                height: 510px;
            }
        }
    }
}