@use "../base/variables.scss";

.range-slider {
    .noUi-target {
        border: none;
        background-color: rgba(variables.$color-first, 0.2);
    }

    .noUi-horizontal {
        height: 6px;
    }

    .noUi-connect {
        background-color: variables.$color-third;
        top: 1px;
    }

    .noUi-horizontal .noUi-handle {
        width: 14px;
        height: 14px;
        right: -10px;
        top: -3px;
        background: #c2c0c1;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: none;
        -webkit-tap-highlight-color: unset;

        &::before,
        &::after {
            display: none;
        }
    }

    [disabled] .noUi-handle {
        cursor: not-allowed;
    }
}
