@use '../base/variables.scss';

.sidebar-btn {
    cursor: pointer;

    &__inner {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        width: 18px;
        height: 18px;
    }

    &__title {
        @extend %text-style-first;
    }
}