@use '../base/variables.scss';

.change-password-form {
    position: absolute;
    display: flex;
    width: 528px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 40px;

    &__title {
        @extend %text-style;
        padding: 15px 0;
        border-bottom: 1px solid rgba(variables.$color-first, .15);
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.change-password-form-field {
    &__title,
    &__text {
        @extend %text-style-first;
    }

    &__title {
        margin-bottom: 15px;
    }

    &__text {
        margin-top: 15px;

        &--error {
            color: variables.$color-third;
        }
    }
}

.change-password-thanks {
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .change-password-form {
        width: 403px;
    }
}

@media (max-width: 414px) {
    .change-password-form {
        position: static;
        transform: translate(0, 0);
        width: 100%;
    }
}