@use '../base/variables.scss';

.ordering {
    padding: 30px 0 0 0;
}

.ordering-form {
    display: flex;
    justify-content: space-between;
    gap: 90px;

    &__main {
        display: flex;
        width: 1146px;
        flex-direction: column;
        gap: 60px;
    }
}

.ordering-form-amount {
    max-width: 504px;
    flex-grow: 1;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 40px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        @extend %text-style;
    }

    &__text {
        @extend %text-style-first;
    }

    &__desc {
        color: variables.$color-first;
        margin-top: 10px;
        @extend %text-style-breadcrumbs;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.ordering-form-section {
    &__title {
        margin-bottom: 30px;
    }

    &__text a,
    &__desc a {
        color: inherit;
        text-decoration: underline;
    }

    &__text {
        @extend %text-style-first;
        color: variables.$color-first;

        &--address {
            margin-top: 15px;
        }
    }

    &__desc {
        @extend %text-style-first;
        color: rgba(variables.$color-first, .6);
    }

    &__fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 90px;
        row-gap: 30px;
        margin-bottom: 40px;
    }

    &__toggle-sidebar {
        max-width: 528px;
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid rgba(variables.$color-first, .15);
        cursor: pointer;

        &__icon {
            width: 22px;
            height: 22px;
            margin-right: 15px;
        }

        &__title {
            margin-right: auto;
        }

        &__open {
            width: 18px;
            height: 18px;
        }
    }

    &__radio-btns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 90px;

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 40px 0 15px;
        }

        &__btn {
            .button-third {
                display: none;
            }

            &--active {
                .button-third {
                    display: flex;
                    margin-top: 15px;

                    svg {
                        order: 1;
                    }
                }
            }
        }
    }

    &__address {
        margin-top: 40px;
    }

    .radio {
        &__inner .ordering-form-section__text {
            opacity: .6;
            transition: opacity variables.$transitionDuration variables.$transitionTimingFunc;
            margin-top: 10px;

            &:last-child {
                margin-top: 5px;
            }
        }

        &__input:checked+.radio__inner .ordering-form-section__text {
            opacity: 1;
        }
    }

    &--contacts {
        .checkbox {
            width: fit-content;
        }
    }

    &--other-recipient {
        &__fields {
            display: none;
            grid-template-columns: repeat(2, 1fr);
            gap: 90px;

            &--active {
                display: grid;
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    &--confirmation-order,
    &--payment {
        .ordering-form-section {
            &__fields {
                margin-bottom: 0;
            }
        }
    }
}

.ordering-form-address {
    &__fields {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 90px;
        margin-top: 30px;
    }
}

@media (max-width: 1440px) {
    .ordering-form {
        gap: 40px;

        &__main {
            width: 894px;
        }
    }

    .ordering-form-amount {
        max-width: 386px;
    }

    .ordering-form-section {
        &__toggle-sidebar {
            width: 50%;
        }
    }
}

@media (max-width: 1024px) {
    .ordering-form {
        flex-direction: column;

        &__main {
            width: 100%;
            gap: 40px;
        }
    }

    .ordering-form-section {
        &__title {
            margin-bottom: 20px;
        }
    }

    .ordering-form-amount {
        max-width: calc(50% - 30px);
        margin-left: auto;

        .form-title {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .ordering-form-amount {
        max-width: 100%;
    }
}

@media (max-width: 650px) {
    .ordering-form-section {
        &__radio-btns {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }

        &__fields {
            grid-template-columns: repeat(1, 1fr);
        }

        &__toggle-sidebar {
            max-width: unset;
            width: auto;
        }

        .radio-additional {
            &__text {
                display: flex;
                align-items: baseline;
                gap: 5px;
            }
        }
    }

    .ordering-form-address {
        &__fields {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }
}

@media (max-width: 414px) {

    .ordering-form-section__fields,
    .ordering-form-section--other-recipient__wrapper,
    .ordering-form-section__radio-btns__wrapper,
    #ordering-form-section-additional,
    .ordering-form-section--comment .input__wrapper,
    .ordering-form-amount {
        padding: 0 16px;
    }

    .ordering-form-section__toggle-sidebar {
        margin: 0 16px;
    }

    .ordering {
        .container {
            padding: 0;
        }
    }
}

@media (max-width: 320px) {
    .ordering {
        padding-top: 20px;
    }

    .ordering-form-section {
        &__title {
            margin-bottom: 20px;
        }
    }
}