@use '../base/variables.scss';
@use '../utils/mixins.scss';

.product {
    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 100px;
        gap: 30px;
    }
}

.product-info {
    max-width: 572px;
    width: 100%;

    &__holder {
        margin: 60px 0 190px;
    }

    & ul.product-info__features {
        margin-bottom: 40px;
        list-style: circle;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__features-item {
        @extend %text-style-breadcrumbs;
        list-style-type: disc;
    }
}

.product-info-top {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        @extend %text-style-breadcrumbs;
        color: rgba(variables.$color-first, .5);
    }

    &__title {
        max-width: 326px;

        @include mixins.font(25px, 25px, variables.$color-first) {
            @extend %cormorant-600;
            letter-spacing: 0.015em;
            text-transform: uppercase;
        }

        span {
            @extend %baskerville-400;
            color: variables.$color-third;
        }
    }
}

.product-info-config {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__item-title {
        @extend %text-style-breadcrumbs;
    }

    &__item-text {
        @extend %text-style;
    }

    &__item-icon {
        width: 18px;
        height: 18px;
    }

    &__item-size {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        .product-info-config {
            &__item-text {
                margin: 0 auto;

                &__wrapper {
                    display: flex;
                    width: 90px;
                    align-items: center;
                    padding: 13px 0;
                    border: 1px solid rgba(variables.$color-first, .35);
                }
            }
        }
    }

    &__item-colors {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.product-info-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__btns {
        display: flex;
        gap: 6px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
    }

    &__item-icon {
        width: 18px;
        height: 18px;
    }

    &__item-text {
        @extend %text-style-breadcrumbs;
        color: variables.$color-first;
    }
}

.product-info-benefits {
    display: flex;
    justify-content: space-between;

    &__col {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item {
        cursor: pointer;
    }

    &__item-inner {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        width: 18px;
        height: 18px;
    }

    &__title {
        @extend %text-style-first;
    }
}

.product-info-benefits-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.goods-slider {
    padding-bottom: 100px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        height: calc(460px - 227px);

        &--necklace {
            height: calc(460px - 120px);

            .card__img {
                width: 100%;
            }
        }
    }

    .goods-slider-pagination--sm {
        left: 50%;
        bottom: -20px;
        width: fit-content;
        transform: translateX(-50%);
        flex-direction: row;
        gap: 10px;
        z-index: 1;
    }

    .goods-slider-pagination--md {
        align-items: baseline;
        bottom: unset;
        top: 50%;
        right: 37px;
        gap: 3px;
        transform: translateY(-50%);
        user-select: none;

        .swiper-pagination-total {
            @extend %text-style;
        }

        .swiper-pagination-current {
            @include mixins.font(30px, 36px, variables.$color-third) {
                @extend %cormorant-700;
                letter-spacing: 0em;
            }
        }
    }

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        gap: 65px;

        .swiper-button-prev {
            transform: rotate(180deg);
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 22px;
            height: 22px;
            cursor: pointer;
            transition: opacity variables.$transitionDuration variables.$transitionTimingFunc;
        }

        .swiper-button-disabled {
            opacity: 0;
        }
    }
}

.product-social {
    padding-bottom: 100px;

    &__title {
        span {
            color: variables.$color-third;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 6px;
    }

    &__img,
    &__info {
        height: 420px;
    }

    &__img {
        img {
            @include mixins.image-default();
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }

    &__info-text {
        @extend %text-style;
    }

    &__info-icons {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__info-icon {

        &,
        svg {
            width: 22px;
            height: 22px;
        }
    }
}

@media (min-width: 415px) {
    .goods-slider {
        .goods-slider-pagination--sm {
            display: none;
        }
    }

    .product-social {
        &__img--sm {
            display: none;
        }
    }
}

@media (max-width: 1440px) {

    .product {
        &__inner {
            align-items: flex-start;
        }
    }

    .product-info {
        &__holder {
            margin: 40px 0 83px;
        }

        & ul.product-info__features {
            margin-bottom: 30px;
        }
    }

    .product-info-top {
        gap: 30px;
    }

    .product-info-config {
        margin-bottom: 50px;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 30px;
        justify-content: unset;
    }

    .product-social,
    .goods-slider,
    .product__inner {
        padding-bottom: 90px;
    }

    .goods-slider-slide .card {
        max-width: unset;
    }

    .product-social {

        &__img,
        &__info {
            height: 345px;
        }
    }
}

@media (max-width: 1024px) {

    .product-info {
        &__holder {
            margin-bottom: 100px;
        }

        & ul.product-info__features {
            margin-bottom: 20px;
        }
    }

    .product-info-top {
        gap: 20px;

        &__title {
            @include mixins.font(20px, 20px) {
                letter-spacing: 0.015em;
            }
        }
    }

    .product-info-config {
        &__item--color {
            width: 100%;
        }
    }

    .product-social,
    .goods-slider,
    .product__inner {
        padding-bottom: 80px;
    }

    .product-social__inner,
    .goods-slider__inner {
        gap: 20px;
    }

    .product-social {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }

        &__img:last-child {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .product-info-top {
        &__inner {
            flex-direction: column;
            gap: 15px;
        }
    }

    .product-info-benefits {
        flex-direction: column;

        &,
        &__col {
            gap: 10px;
        }
    }
}

@media (max-width: 768px) {
    .product {
        &__inner {
            flex-direction: column;
        }
    }

    .product-info {
        max-width: unset;

        &__holder {
            margin-bottom: 40px;
        }
    }

    .product-info-top {
        &__inner {
            flex-direction: row;
            gap: unset;
        }

        &__title {
            max-width: 100%;
        }

        .price {
            min-width: fit-content;
        }
    }

    .product-info-config {
        justify-content: space-between;
        margin-bottom: 40px;

        &__item--color {
            width: unset;
        }
    }

    .product-info-benefits {
        flex-direction: row;

        &__col {
            gap: 7px;
        }
    }

    .product-social {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }

        &__img:last-child {
            display: block;
        }
    }
}

@media (max-width: 414px) {

    .product-info {
        &__holder {
            margin: 30px 0;
        }
    }

    .product-info-top {
        &__inner {
            flex-direction: column;
            gap: 15px;
        }
    }

    .product-info-config {
        &__item--color {
            width: 100%;
        }
    }

    .product-info-benefits {
        flex-direction: column;
    }

    .product-social,
    .goods-slider,
    .product__inner {
        padding-bottom: 70px;
    }

    .product-social__inner,
    .goods-slider__inner {
        gap: 15px;
    }

    .goods-slider {
        .goods-slider-pagination--md {
            display: none;
        }

        &__inner {
            position: relative;
        }

        &__nav {
            display: none;
        }

        .card--necklace {
            height: 233px;
        }
    }

    .product-social {

        &__img,
        &__info {
            height: 204px;
        }

        &__info {
            display: none;
        }
    }
}

@media (max-width: 320px) {
    .product-social {

        &__img,
        &__info {
            height: 157px;
        }
    }
}