@use '../base/variables.scss';
@use '../utils/mixins.scss';

.product {
    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 100px;
    }
}

.product-info {
    max-width: 572px;
    width: 100%;

    &__holder {
        margin: 60px 0 190px;
    }

    & ul.product-info__features {
        margin-bottom: 40px;
        list-style: circle;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__features-item {
        @extend %text-style-breadcrumbs;
        list-style-type: disc;
    }
}

.product-info-top {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        @extend %text-style-breadcrumbs;
        color: rgba(variables.$color-first, .5);
    }

    &__title {
        max-width: 326px;

        @include mixins.font(25px, 25px, variables.$color-first) {
            @extend %cormorant-600;
            letter-spacing: 0.015em;
            text-transform: uppercase;
        }

        span {
            @extend %baskerville-400;
            color: variables.$color-third;
        }
    }
}

.product-info-config {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__item-title {
        @extend %text-style-breadcrumbs;
    }

    &__item-text {
        @extend %text-style;
    }

    &__item-icon {
        width: 18px;
        height: 18px;
    }

    &__item-size {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        .product-info-config {
            &__item-text {
                margin: 0 auto;

                &__wrapper {
                    display: flex;
                    width: 90px;
                    align-items: center;
                    padding: 13px 0;
                    border: 1px solid rgba(variables.$color-first, .35);
                }
            }
        }
    }

    &__item-colors {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.product-info-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__btns {
        display: flex;
        gap: 6px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__item-icon {
        width: 18px;
        height: 18px;
    }

    &__item-text {
        @extend %text-style-breadcrumbs;
        color: variables.$color-first;
    }
}

.product-info-benefits {
    display: flex;
    justify-content: space-between;

    &__col {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__item {
        cursor: pointer;
    }

    &__item-inner {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        width: 18px;
        height: 18px;
    }

    &__title {
        @extend %text-style-first;
    }
}

.product-info-benefits-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.goods-slider {
    padding-bottom: 100px;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @include mixins.font(32px, 39px, variables.$color-first) {
            @extend %cormorant-600;
            letter-spacing: 0em;
            text-transform: uppercase;
        }
    }

    .card {
        height: calc(460px - 227px);

        &--necklace {
            height: calc(460px - 120px);
        }
    }

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        gap: 65px;

        .swiper-pagination {
            align-items: baseline;
            bottom: unset;
            top: 50%;
            right: 37px;
            gap: 3px;
            transform: translateY(-50%);

            .swiper-pagination-total {
                @extend %text-style;
            }

            .swiper-pagination-current {
                @include mixins.font(30px, 36px, variables.$color-third) {
                    @extend %cormorant-700;
                    letter-spacing: 0em;
                }
            }
        }

        .swiper-button-prev {
            transform: rotate(180deg);
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 22px;
            height: 22px;
            cursor: pointer;
            transition: opacity variables.$transitionDuration variables.$transitionTimingFunc;
        }

        .swiper-button-disabled {
            opacity: 0;
        }
    }
}