@use '../base/variables.scss';
@use '../utils/mixins.scss';

.product {
    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 100px;
        gap: 30px;
    }
}

.product-info {
    max-width: 572px;
    width: 100%;

    &__holder {
        margin: 60px 0 190px;
    }

    & ul.product-info__features {
        margin-bottom: 40px;
        list-style: circle;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__features-item {
        @extend %text-style-breadcrumbs;
        list-style-type: disc;
    }
}

.product-info-top {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        @extend %text-style-breadcrumbs;
        color: rgba(variables.$color-first, .5);
    }

    &__title {
        max-width: 326px;

        @include mixins.font(25px, 25px, variables.$color-first) {
            @extend %cormorant-600;
            letter-spacing: 0.015em;
            text-transform: uppercase;
        }

        span {
            @extend %baskerville-400;
            color: variables.$color-third;
        }
    }
}

.product-info-config {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__item-title {
        @extend %text-style-breadcrumbs;
    }

    &__item-text {
        @extend %text-style;
    }

    &__item-icon {
        width: 18px;
        height: 18px;
    }

    &__item-size {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        .product-info-config {
            &__item-text {
                margin: 0 auto;

                &__wrapper {
                    display: flex;
                    width: 90px;
                    align-items: center;
                    padding: 13px 0;
                    border: 1px solid rgba(variables.$color-first, .35);
                }
            }
        }
    }

    &__item-colors {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.product-info-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__btns {
        display: flex;
        gap: 6px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
    }

    &__item-icon {
        width: 18px;
        height: 18px;
    }

    &__item-text {
        @extend %text-style-breadcrumbs;
        color: variables.$color-first;
    }
}

.product-info-benefits {
    display: flex;
    justify-content: space-between;

    &__col {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
}

.product-info-benefits-sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1440px) {

    .product {
        &__inner {
            align-items: flex-start;
        }
    }

    .product-info {
        &__holder {
            margin: 40px 0 83px;
        }

        & ul.product-info__features {
            margin-bottom: 30px;
        }
    }

    .product-info-top {
        gap: 30px;
    }

    .product-info-config {
        margin-bottom: 50px;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 30px;
        justify-content: unset;
    }

    .product__inner {
        padding-bottom: 90px;
    }
}

@media (max-width: 1024px) {

    .product-info {
        &__holder {
            margin-bottom: 100px;
        }

        & ul.product-info__features {
            margin-bottom: 20px;
        }
    }

    .product-info-top {
        gap: 20px;

        &__title {
            @include mixins.font(20px, 20px) {
                letter-spacing: 0.015em;
            }
        }
    }

    .product-info-config {
        &__item--color {
            width: 100%;
        }
    }

    .product__inner {
        padding-bottom: 80px;
    }
}

@media (max-width: 991px) {
    .product-info-top {
        &__inner {
            flex-direction: column;
            gap: 15px;
        }
    }

    .product-info-benefits {
        flex-direction: column;

        &,
        &__col {
            gap: 10px;
        }
    }
}

@media (max-width: 768px) {
    .product {
        &__inner {
            flex-direction: column;
        }
    }

    .product-info {
        max-width: unset;

        &__holder {
            margin-bottom: 40px;
        }
    }

    .product-info-top {
        &__inner {
            flex-direction: row;
            gap: unset;
        }

        &__title {
            max-width: 100%;
        }

        .price {
            min-width: fit-content;
        }
    }

    .product-info-config {
        justify-content: space-between;
        margin-bottom: 40px;

        &__item--color {
            width: unset;
        }
    }

    .product-info-benefits {
        flex-direction: row;

        &__col {
            gap: 7px;
        }
    }
}

@media (max-width: 414px) {

    .product {
        &__inner {
            gap: 20px;
        }
    }

    .product-info {
        &__holder {
            margin: 30px 0;
        }
    }

    .product-info-top {
        &__inner {
            flex-direction: column;
            gap: 15px;
        }

        &__title {
            @include mixins.font(25px, 25px) {
                letter-spacing: 0.015em;
            }
        }
    }

    .product-info-config {
        &__item--color {
            width: 100%;
        }
    }

    .product-info-benefits {
        flex-direction: column;
    }

    .product__inner {
        padding-bottom: 70px;
    }
}

@media (max-width: 320px) {
    .product-info {
        &__holder {
            margin: 30px 0 20px;
        }
    }

    .product-info-top {
        gap: 15px;
    }
}