.modal-change-password-form {
    padding-top: 40px;

    .modal__text--error {
        margin-top: 15px;
    }

    &__text {
        margin-bottom: 15px;
    }
}

.modal-change-password-form-field {
    margin-bottom: 30px;
}