mixin sidebar(dataSidebarPage, title, state)
    aside(class="sidebar " + (state ? 'sidebar--' + state : '') data-sidebar-page=dataSidebarPage)
        .sidebar-top
            .sidebar-top__inner
                svg.sidebar-top__back(data-sidebar-back=dataSidebarPage)
                    use(xlink:href="./images/sprite.svg#forward-black")
                p.sidebar-top__text= title
                svg.sidebar-top__close(data-sidebar-close=dataSidebarPage)
                    use(xlink:href="./images/sprite.svg#close-black")
        block