doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='apple-touch-icon' sizes='180x180' href='./assets/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./assets/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./assets/favicon-16x16.png')
        link(rel='manifest' href='./assets/site.webmanifest')
        title Youngsters - Корзина
        link(rel="stylesheet" href="css/main.min.css")
        script(src="js/minified/main.min.js" defer)
    body
        include ./components/organisms/header.jade
        include ./components/organisms/footer.jade
        include ./components/organisms/headerSidebar.jade

        include ./components/organisms/sidebarCompositions/sidebarProductMenu.jade
        include ./components/organisms/sidebarCompositions/sidebarProductWarranty.jade

        include ./components/molecules/cardSmall.jade
        include ./components/molecules/categoriesHeader.jade
        include ./components/molecules/chosenDecorations.jade

        include ./components/atoms/breadcrumbs.jade
        include ./components/atoms/price.jade
        include ./components/atoms/sidebarBtn.jade
        include ./components/atoms/buttons/buttonFirst.jade
        include ./components/atoms/banner.jade

        +header('black')
        +headerSidebar()
        main.main
            .categories-header__wrapper
                +categoriesHeader()
                - var breadcrumbsPages = [{title: 'Главная',href: '#'},{title: 'Каталог',href: '#'},{title: 'Кольца',href: '#'},{title: 'Серебряное массивное кольцо Green Stone ',href: '#'}]
                .container
                    +breadcrumbs(breadcrumbsPages)
            .main__inner--cart
                +banner('./images/content/banners/cart/cart.jpg', 'Украшение Youngsters')
                section.cart
                    .container
                        .cart__inner
                            .cart-products
                                .form-title.cart-section__title Ваша корзина
                                .cart-products__items
                                    - var cartProducts=[{cardType:"config",productData:{id:12345,image:{src:"./images/content/products/mas-ring.png",alt:"Украшение Youngsters"},features:{material:"Серебро 925",insert:"Оникс 28 ct",weight:"Вес - 9,30 гр"},price:{value:"35 000,00",state:""},priceOld:{value:'', state:''},title:"Серебряное массивное кольцо Black Stone",size:29,amount:1,maxAmount:10}},{cardType:"config",productData:{id:12345,image:{src:"./images/content/products/mas-ring.png",alt:"Украшение Youngsters"},features:{material:"Серебро 925",insert:"Оникс 28 ct",weight:"Вес - 9,30 гр"},price:{value:"35 000,00",state:"discount"},priceOld:{value: "35 000,00",state:'old'},title:"Серебряное массивное кольцо Black Stone",size:29,amount:1,maxAmount:10}},{cardType:"config",productData:{id:12345,image:{src:"./images/content/products/mas-ring.png",alt:"Украшение Youngsters"},features:{material:"Серебро 925",insert:"Оникс 28 ct",weight:"Вес - 9,30 гр"},price:{value:"35 000,00",state:""},priceOld:{value:'', state:''},title:"Серебряное массивное кольцо Black Stone",size:29,amount:1,maxAmount:10}}];
                                    for cartProduct in cartProducts
                                        +cardSmall(cartProduct.cardType, cartProduct.productData)
                            .cart-amount__wrapper
                                .cart-amount__sidebar-btns.cart-amount__sidebar-btns--lg
                                    +sidebarBtn('Доставка и оплата', 'product-menu')
                                        +sidebarProductMenu()
                                    +sidebarBtn('Гарантия и возврат', 'product-warranty')
                                        +sidebarProductWarranty()
                                .cart-amount
                                    .form-title.cart-section__title Сумма заказа
                                    .cart-amount__info
                                        .cart-amount__item
                                            p.cart-amount__text Товары на сумму
                                            +price('35 000,00')
                                        .cart-amount__item
                                            p.cart-amount__text Скидка
                                            +price('35 000,00', 'old')
                                        .cart-amount__item
                                            p.cart-amount__text Итого
                                            +price('35 000,00')
                                    +buttonFirst('Оформить заказ')
                                    .cart-amount__sidebar-btns
                                        +sidebarBtn('Доставка и оплата', 'product-menu')
                                            +sidebarProductMenu()
                                        +sidebarBtn('Гарантия и возврат', 'product-warranty')
                                            +sidebarProductWarranty()
                +chosenDecorations()
        +footer()


    //- svg
    //- use(xlink:href="./images/sprite.svg")