doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Youngsters
        link(rel="stylesheet" href="css/style.min.css")
        script(src="js/minified/main.min.js" defer)
        script(src="js/minified/index.min.js" defer)
    body
        include ./components/organisms/Header.jade


    //- svg
    //- use(xlink:href="./images/sprite.svg")
