doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='apple-touch-icon' sizes='180x180' href='./assets/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='./assets/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='./assets/favicon-16x16.png')
        link(rel='manifest' href='./assets/site.webmanifest')
        title Youngsters - Кольцо Green Stone
        link(rel="stylesheet" href="css/main.min.css")
        script(src="js/minified/main.min.js" defer)
        script(src="js/minified/product.min.js" defer)
    body
        include ./components/templates/sidebar.jade
    
        include ./components/organisms/header.jade
        include ./components/organisms/footer.jade
        include ./components/organisms/headerSidebar.jade

        include ./components/molecules/categoriesHeader.jade
        include ./components/molecules/productImagesSlider.jade

        include ./components/atoms/buttons/buttonFirst.jade
        include ./components/atoms/breadcrumbs.jade
        include ./components/atoms/price.jade
        include ./components/atoms/colorPick.jade
        include ./components/atoms/counter.jade
        include ./components/atoms/likeButton.jade

        +header('black')
        +headerSidebar()
        main.main
            .categories-header__wrapper
                +categoriesHeader()
                - var breadcrumbsPages = [{title: 'Главная',href: '#'},{title: 'Каталог',href: '#'},{title: 'Кольца',href: '#'},{title: 'Серебряное массивное кольцо Green Stone ',href: '#'}]
                .container
                    +breadcrumbs(breadcrumbsPages)
            .product
                .container
                    .product__inner
                        +productImagesSlider([{src: './images/content/products/rings/golden-stone/1.webp',srcset: './images/content/products/rings/golden-stone/1.webp 1x, ./images/content/products/rings/golden-stone/1@2x.webp 2x', alt: 'Кольцо Green Stone'},{src: './images/content/products/rings/golden-stone/2.webp',srcset: './images/content/products/rings/golden-stone/2.webp 1x, ./images/content/products/rings/golden-stone/2@2x.webp 2x', alt: 'Кольцо Green Stone'},{src: './images/content/products/rings/golden-stone/3.webp',srcset: './images/content/products/rings/golden-stone/3.webp 1x, ./images/content/products/rings/golden-stone/3@2x.webp 2x', alt: 'Кольцо Green Stone'}])
                        .product-info
                            .product-info-top
                                p.product-info-top__subtitle Артикул 123456
                                .product-info-top__inner
                                    h1.product-info-top__title Серебряное массивное кольцо 
                                        span green Stone
                                    +price('35 000,00')
                            .product-info__holder
                                ul.product-info__features
                                    li.product-info__features-item Серебро 925 проба
                                    li.product-info__features-item Средний вес 9,30 гр
                                    li.product-info__features-item Вставка - Оникс 28 ct
                                .product-info-config
                                    .product-info-config__item.product-info-config__item
                                        p.product-info-config__item-title Цвет: Позолоченное серебро
                                        .product-info-config__item-colors
                                            +colorPick('#E9D590', 'beige', 'product-color', 'active')
                                            +colorPick('#C8C8C8', 'gray', 'product-color')
                                            +colorPick('#141318', 'black', 'product-color')
                                    .product-info-config__item.product-info-config__item--size
                                        p.product-info-config__item-title Размер
                                        .product-info-config__item-size
                                    .product-info-config__item.product-info-config__item--count
                                        p.product-info-config__item-title Количество
                                        +counter(1, 1, 5, 'product-count')
                                .product-info-actions
                                    .product-info-actions__btns
                                        +buttonFirst('Добавить в корзину')
                                        +likeButton()
                                    a.product-info-actions__item(href="#")
                                        svg.product-info-actions__item-icon
                                            use(xlink:href="./images/sprite.svg#whatsapp")
                                        .product-info-actions__item-text Начать чат со стилистом в WhatsApp
                                    a.product-info-actions__item(href="#")
                                        svg.product-info-actions__item-icon
                                            use(xlink:href="./images/sprite.svg#delivery")
                                        .product-info-actions__item-text Доставка по РФ 2 - 3 дня
                            .product-info-benefits
                                .product-info-benefits__col
                                    .product-info-benefits__item
                                        .product-info-benefits__item-inner(data-sidebar-target="product-characteristics")
                                            svg.product-info-benefits__icon
                                                use(xlink:href="./images/sprite.svg#plus-math")
                                            p.product-info-benefits__title Характеристики изделия
                                        +sidebar('product-characteristics', 'Характеристики изделия')
                                            .product-info-benefits-sidebar.product-info-benefits-sidebar--characteristics
                                                p.sidebar__text Мужской перстень из чистейшего высококачественного серебра 925 пробы в классической форме и узором. Перстень украшен круглым индийским ониксом. Классика всегда в моде для любого возраста мужчины.
                                                ul.sidebar__list
                                                    li.sidebar__list-item Серебро 925 проба 
                                                    li.sidebar__list-item Цвет металла - Белый
                                                    li.sidebar__list-item Средний вес 9,30 гр
                                                    li.sidebar__list-item Вставка - Оникс 28 ct
                                                    li.sidebar__list-item Коллекция - Stone
                                                    li.sidebar__list-item Бренд Youngsters
                                    .product-info-benefits__item
                                        .product-info-benefits__item-inner(data-sidebar-target="")
                                            svg.product-info-benefits__icon
                                                use(xlink:href="./images/sprite.svg#plus-math")
                                            p.product-info-benefits__title Доставка и оплата
                                        .product-info-benefits-sidebar
                                            +sidebar()
                                .product-info-benefits__col
                                    .product-info-benefits__item
                                        .product-info-benefits__item-inner(data-sidebar-target="")
                                            svg.product-info-benefits__icon
                                                use(xlink:href="./images/sprite.svg#plus-math")
                                            p.product-info-benefits__title Гарантия и возврат
                                        .product-info-benefits-sidebar
                                            +sidebar()
                                    .product-info-benefits__item
                                        .product-info-benefits__item-inner(data-sidebar-target="")
                                            svg.product-info-benefits__icon
                                                use(xlink:href="./images/sprite.svg#plus-math")
                                            p.product-info-benefits__title Уход за изделием
                                        .product-info-benefits-sidebar
                                            +sidebar()
        +footer()


    //- svg
    //- use(xlink:href="./images/sprite.svg")
