@use '../base/variables.scss';
@use '../utils/mixins.scss';

.header {
    background-color: transparent;
    color: variables.$color-fourth;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(#000, .7);
            backdrop-filter: blur(20px);
            transition: opacity variables.$transitionDuration variables.$transitionTimingFunc;
            z-index: -1;
        }

        &:hover,
        &--active {
            &::before {
                opacity: 1;
            }
        }
    }
}

.header-black__wrapper {
    background-color: variables.$color-sixth;
}

.header__logo--md svg {
    width: 192px;
    height: 36px;
}

.header__logo--md svg,
.header-nav__logo svg {
    fill: variables.$color-fourth;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 60px;

    &__logo,
    &__logo svg {
        width: 224px;
        height: 42px;
    }

    &__menu--md svg {
        width: 22px;
        height: 22px;
    }
}

.header-nav__menu--md div {
    background-image: url('../images/sprite.svg#menu');
}

.header-nav__menu--md,
.header-nav__search {
    cursor: pointer;

    div {
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.header-nav__search div,
.header-links__search div {
    background-image: url('../images/sprite.svg#search');
}

.header-links {
    display: flex;
    align-items: center;
    gap: 30px;

    div {
        width: 22px;
        height: 22px;
        @include mixins.bg-img(null, null, null, no-repeat, cover, center);
        cursor: pointer;
    }

    &__user {
        div {
            background-image: url('../images/sprite.svg#male-user');
        }

        &--active div {
            background-image: url('../images/sprite.svg#male-user-accent');
        }
    }

    &__search {
        cursor: pointer;

        div {
            background-image: url('../images/sprite.svg#search');
        }
    }

    &__heart {
        div {
            background-image: url('../images/sprite.svg#heart');
        }
    }

    &__bag {
        display: flex;
        align-items: center;
        gap: 10px;

        div {
            background-image: url('../images/sprite.svg#shopping-bag');
        }
    }

    &__icon-counter {
        color: variables.$color-fourth;
        @extend %roboto-400;
    }
}

.header.header-black {
    .header__inner {
        border-bottom: 1px solid rgba(variables.$color-first, .15);
    }

    .header-nav__menu--md div {
        background-image: url('../images/sprite.svg#menu-black');
    }

    .header-nav__search div,
    .header-links__search div {
        background-image: url('../images/sprite.svg#search-black');
    }

    .header-links {
        &__user {
            div {
                background-image: url('../images/sprite.svg#male-user-black');
            }
        }

        &__heart {
            div {
                background-image: url('../images/sprite.svg#heart-black');
            }
        }

        &__bag {
            div {
                background-image: url('../images/sprite.svg#shopping-bag-black');
            }
        }

        &__icon-counter {
            color: variables.$color-third;
        }
    }

    .header__logo--md svg,
    .header-nav__logo svg {
        fill: variables.$color-first;
    }

    .header-nav {
        .menu-item-dropdown {
            &__text {
                color: variables.$color-first;
            }
        }
    }
}

.header-search__wrapper {
    &::before {
        opacity: 1;
    }
}

.header.header-black:hover,
.header__wrapper.header-search__wrapper {
    color: variables.$color-fourth;

    .header__inner {
        border-bottom: none;
    }

    .header-nav__menu--md div {
        background-image: url('../images/sprite.svg#menu');
    }

    .header-nav__search div,
    .header-links__search div {
        background-image: url('../images/sprite.svg#search');
    }

    .header-links {
        &__user {
            div {
                background-image: url('../images/sprite.svg#male-user');
            }
        }

        &__search {
            div {
                background-image: url('../images/sprite.svg#search');
            }
        }

        &__heart {
            div {
                background-image: url('../images/sprite.svg#heart');
            }
        }

        &__bag {
            div {
                background-image: url('../images/sprite.svg#shopping-bag');
            }
        }
    }

    .header__logo--md svg,
    .header-nav__logo svg {
        fill: variables.$color-fourth;
    }

    .header-nav {
        .menu-item-dropdown {
            &__text {
                color: variables.$color-fourth;
            }
        }
    }
}

@media (min-width: 769px) {
    .header__logo--md {
        display: none;
    }

    .header-nav {
        &__menu--md {
            display: none;
        }

        &__search {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .header-nav {
        gap: 40px;

        .menu-item-dropdown {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .header-links {
        gap: 24px;
    }
}

@media (max-width: 768px) {
    .header-nav {
        gap: 24px;

        &__logo,
        .menu-item-dropdown {
            display: none;
        }
    }

    .header-links {
        &__search {
            display: none;
        }
    }
}

@media (max-width: 480px) {

    .header-nav__search,
    .header-links__user,
    .header-links__heart,
    .header-links__icon-counter {
        display: none;
    }
}

@media (max-width: 320px) {
    .header__logo--md svg {
        width: 173px;
        height: 17px;
    }
}