mixin radio(value, label, name, state)
    label(class="radio" + (state ? " radio--" + state : ""))
        input.radio__input(type="radio" name=name value=value)
        .radio__inner
            p.radio__text= label
            block