mixin sizeButton(value, label, name, state)
    label(class="size-button" + (state ? " size-button--" + state : ''))
        input.size-button__input(type="radio" name=name value=value)
        div.size-button__text= label