mixin footer()
    footer.footer
        .container
            .footer__inner
                a.footer__logo(href="/")
                    svg
                        use(xlink:href="./images/sprite.svg#logo-youngsters")
                .footer__separator
                .footer-links
                    .footer-links__list-wrapper
                        p.footer-links__list-title Каталог
                        ul.footer-links__list
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") Кольца
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") Серьги
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") Браслеты
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") Цепи
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") Ожерелья
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") Аксессуары
                    .footer-links__list-wrapper
                        p.footer-links__list-title Информация
                        ul.footer-links__list
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") О Youngsters
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") Мастерская
                            li.footer-links__list-item
                                a.footer-links__list-item__link(href="/") Контакты
                    .footer-links__social
                        .footer-links__social-separator
                        p.footer-links__social-description Узнавайте первыми о новинках, скидках и многом другом
                        .footer-links__social-icons
                            a.footer-links__social-icon(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#facebook")
                            a.footer-links__social-icon(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#instagram")
                            a.footer-links__social-icon(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#vk")
                            a.footer-links__social-icon(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#telegram")