include ../atoms/menuItems/menuItem.jade
include ../atoms/menuItems/menuItemDropdown.jade

include ../molecules/search.jade

mixin headerSidebar()
    aside.header-sidebar(data-dropdown-list="header-sidebar")
        .header-sidebar-top
            p.header-sidebar-top__text(data-dropdown-close="header-sidebar-catalog")
                svg
                    use(xlink:href="./images/sprite.svg#forward")
                |   Меню
            svg(data-dropdown-close="header-sidebar")
                use(xlink:href="./images/sprite.svg#close")
        .header-sidebar-main-page
            +search()
            ul.header-sidebar__list
                li.header-sidebar__list-item
                    +menuItemDropdown('Каталог', 'header-sidebar-catalog')
                    .menu-item.menu-item-dropdown.header-sidebar__list-item__dropdown--md(data-dropdown-target="header-sidebar-catalog")
                        p.menu-item-dropdown__text Каталог
                        svg
                            use(xlink:href="./images/sprite.svg#forward")
                    ul.menu-dropdown-list(data-dropdown-list='header-sidebar-catalog')
                        - var menuDropdownList = [{ text: 'Кольца', link: '/catalog.html' },{ text: 'Серьги', link: '/catalog.html' },{ text: 'Браслеты', link: '/catalog.html' },{ text: 'Цепи', link: '/catalog.html' },{ text: 'Ожерелья', link: '/catalog.html' },{ text: 'Аксессуары', link: '/catalog.html' },{ text: 'Все', link: '/catalog.html' }]
                        for menuDropdownItem in menuDropdownList
                            li.menu-dropdown-list__item
                                a.menu-dropdown-list__item-link(href="#{menuDropdownItem.link}")= menuDropdownItem.text
                li.header-sidebar__list-item
                    +menuItem('Мастерская', '/')
                li.header-sidebar__list-item
                    +menuItem('О нас', '/')
                li.header-sidebar__list-item
                    +menuItem('Контакты', '/')
            .header-sidebar__links
                a.header-sidebar__links-item(href="/profile.html")
                    .header-sidebar__links-item__icon
                        svg
                            use(xlink:href="./images/sprite.svg#male-user")
                    .header-sidebar__links-item__text.header-sidebar__links-item__text--en Myoungsters
                a.header-sidebar__links-item(href="/profile-favorites.html")
                    .header-sidebar__links-item__icon
                        svg
                            use(xlink:href="./images/sprite.svg#heart")
                    .header-sidebar__links-item__text.header-sidebar__links-item__text--ru Избранное
        .header-sidebar-inner-page
            p.header-sidebar-inner-page__title Каталог
            ul.menu-dropdown-list.menu-dropdown-list--visible
                - var menuDropdownList = [{ text: 'Кольца', link: '/' },{ text: 'Серьги', link: '/' },{ text: 'Браслеты', link: '/' },{ text: 'Цепи', link: '/' },{ text: 'Ожерелья', link: '/' },{ text: 'Аксессуары', link: '/' },{ text: 'Все', link: '/' }]
                for menuDropdownItem in menuDropdownList
                    li.menu-dropdown-list__item
                        a.menu-dropdown-list__item-link(href="#{menuDropdownItem.link}")= menuDropdownItem.text