include ../atoms/sizeButton.jade
include ../atoms/menuItems/menuItemDropdown.jade
include ./searchOverlay.jade

mixin header(variant)
    div(class=(variant == 'black' ? 'header__wrapper header-black__wrapper' : 'header__wrapper'))
        header(class=(variant == 'black' ? 'header header-black' : 'header'))
            .container
                .header__holder
                    .header__inner
                        .header-nav
                            a.header-nav__logo(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#logo-youngsters")
                            +menuItemDropdown('Меню', 'header-sidebar')
                            .header-nav__menu--md(data-dropdown-target="header-sidebar")
                                div
                            .header-nav__search
                                div
                        .header__logo--md
                            svg
                                use(xlink:href="./images/sprite.svg#logo-youngsters")
                        .header-links
                            a.header-links__icon.header-links__user(href="/profile.html")
                                div
                            .header-links__icon.header-links__search
                                div
                            a.header-links__icon.header-links__heart(href="/profile-favorites.html")
                                div
                            a.header-links__icon.header-links__bag(href="/shopping-cart.html")
                                div
                                span.header-links__icon-counter (4)
        +searchOverlay()