include ../../templates/modal.jade

mixin modalIncorrectPassword()
    +modal('modal-incorrect-password', 'Ошибка')
        .modal-incorrect-password
            p.modal-incorrect-password__text Пожалуйста, проверьте правильность введённых паролей, возможно они не совпадают