include ../../atoms/buttons/buttonFirst.jade
include ../../atoms/input.jade

include ../../templates/modal.jade

mixin modalForgotPassword()
    +modal('modal-forgot-password', 'Забыли пароль')
        form.modal-forgot-password-form(action="#" name="forgot-password-form")
            p.modal__text.modal-forgot-password-form__text Введите Ваш электронный адрес, используемый для входа в MYOUNGSTERS, и Вам будет отправлено электронное письмо с ссылкой для создания нового пароля.
            +input('email', 'E-mail*', 'forgot-password-email', 'email', true)
            .modal-forgot-password-form-btn__wrapper
                +buttonFirst('Отправить', 'forgot-password-btn', 'submit')