include ../../atoms/buttons/buttonFirst.jade
include ../../atoms/input.jade

include ../../templates/modal.jade

mixin modalConfirmPassword()
    +modal('modal-confirm-password', 'Ввод текущего пароля')
        form.modal-confirm-password-form(action="#" name="confirm-password-form")
            p.modal__text.modal-confirm-password-form__text В целях безопасности для подтверждения изменений необходимо ввести текущий пароль
            +input('password', 'Пароль', 'confirm-password', 'password', true)
            .modal-confirm-password-form__actions
                +buttonFirst('Продолжить', 'confirm-password-btn', 'submit')
                p.modal__link.modal-confirm-password-form__link(data-modal-target="modal-forgot-password") Забыли пароль?