include ../../atoms/buttons/buttonFirst.jade
include ../../atoms/input.jade

include ../../templates/modal.jade

mixin modalChangePassword()
    +modal('modal-change-password', 'Изменение пароля')
        form.modal-change-password-form(action="#" name="change-password-form")
            .modal-change-password-form-field
                p.modal__text.modal-change-password-form__text Введите новый пароль
                +input('password', 'Пароль', 'change-password-1', 'password', true)
            .modal-change-password-form-field
                p.modal__text.modal-change-password-form__text Повторите пароль
                +input('password', 'Пароль', 'change-password-2', 'password', true)
            +buttonFirst('Сохранить изменения', 'change-password-btn', 'submit')