include ../../atoms/buttons/buttonFirst.jade
include ../../atoms/input.jade

include ../../templates/modal.jade

mixin modalForgotPassword()
    +modal('modal-forgot-password', 'Забыли пароль')
        form.modal-forgot-password-content(action="#" name="forgot-password-form")
            p.modal-forgot-password-content__text Введите Ваш электронный адрес, используемый для входа в MYOUNGSTERS, и Вам будет отправлено электронное письмо с ссылкой для создания нового пароля.
            +input('email', 'E-mail*', 'forgot-password-email', 'email', true)
        .modal-forgot-password-bottom
            +buttonFirst('Отправить', 'forgot-password-btn', 'submit')