mixin menuItemDropdown(text, dataDropdownTarget)
    .menu-item.menu-item-dropdown(data-dropdown-target="#{dataDropdownTarget}")
        p= text
        svg
            use(xlink:href="./images/sprite.svg#plus-math")