mixin categoriesHeader()
    .categories-header
        .container
            .categories-header__inner
                nav.categories-header-nav
                    ul.categories-header-nav__list
                        li.categories-header-nav__item
                            a.categories-header-nav__link(href="#") Кольца
                        li.categories-header-nav__item
                            a.categories-header-nav__link(href="#") Серьги
                        li.categories-header-nav__item
                            a.categories-header-nav__link(href="#") Браслеты
                        li.categories-header-nav__item
                            a.categories-header-nav__link(href="#") Цепи
                        li.categories-header-nav__item
                            a.categories-header-nav__link(href="#") Ожерелья
                        li.categories-header-nav__item
                            a.categories-header-nav__link(href="#") Аксессуары