mixin chosenDecorations()
    .chosen-decorations
        .container
            .chosen-decorations__inner
                h2.chosen-decorations__title
                    span @
                    | YOUNGSTERS
                .chosen-decorations__items
                    .chosen-decorations__img
                        img(src="./images/content/banners/catalog/1.jpg" alt="Мужчина позирует в одежде Youngsters")
                    .chosen-decorations__info
                        p.chosen-decorations__info-text Наши подписчики выбирают самые классные украшения
                        .chosen-decorations__info-icons
                            a.chosen-decorations__info-icon(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#facebook-black")
                            a.chosen-decorations__info-icon(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#instagram-black")
                            a.chosen-decorations__info-icon(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#vk-black")
                            a.chosen-decorations__info-icon(href="/")
                                svg
                                    use(xlink:href="./images/sprite.svg#telegram-black")
                    .chosen-decorations__img
                        img(src="./images/content/banners/catalog/3.jpg" alt="Украшения Youngsters")
                    .chosen-decorations__img.chosen-decorations__img--sm
                        img(src="./images/content/banners/catalog/3.jpg" alt="Украшения Youngsters")
                    .chosen-decorations__img
                        img(src="./images/content/banners/catalog/2.jpg" alt="Мужчина позирует в одежде Youngsters")