mixin personalHeaderAuth()
    .personal-header-auth
        p.personal-header-auth__title Здравствуйте, Иван!
        ul.personal-header-auth__list
            li.personal-header-auth__list-item
                a.personal-header-auth__list-item__link(href="personal.html") Мои данные
            li.personal-header-auth__list-item
                a.personal-header-auth__list-item__link(href="personal-orders.html") Мои заказы
            li.personal-header-auth__list-item
                a.personal-header-auth__list-item__link(href="personal-favorites.html") Избранное
            li.personal-header-auth__list-item
                .personal-header-auth__list-item__link.personal-header-auth__list-item__link--underline Выйти