mixin productImagesSlider(images)
    .product-images-slider
        .swiper
            .swiper-wrapper
                for imgInfo in images
                    .swiper-slide
                        .product-images-slider-slide
                            div(class='product-images-slider-slide__img ' + (imgInfo.class ? imgInfo.class : ''))
                                img(src="#{imgInfo.src}", srcset="#{imgInfo.srcset}", alt="#{imgInfo.alt}")
                            .product-images-slider-slide__icon
                                svg
                                    use(xlink:href="./images/sprite.svg#zoom-in")
                            .product-images-slider-slide__icon.product-images-slider-slide__icon--md
                                svg
                                    use(xlink:href="./images/sprite.svg#expand")
        svg.product-images-slider__close
            use(xlink:href="./images/sprite.svg#close-black")
        .product-images-slider__pagination.swiper-pagination