mixin sidebarProductCare()
    +sidebar('product-care', 'Уход за изделием')
        .sidebar-product-care
            p.sidebar__text Дорогие покупатели, помните, что ювелирные украшения обмену и возврату не подлежат, кроме случаев производственной гарантии! 
            p.sidebar__text Будьте бережны к своим украшениям, и они непременно будут радовать Вас своей красотой, неизменной во времени
            .sidebar-product-care__item
                p.sidebar__title Неблагоприятные факторы и условия
                ul.sidebar__list
                    li.sidebar__list-item При выполнении тяжелых физических работ снимайте украшения. Берегите их от механических воздействий, иначе металлическая часть украшения может деформироваться, а камни могут быть повреждены – возникнут сколы, выпадут из закрепок.
                    li.sidebar__list-item Избегайте контакта украшений с косметическими средствами (кремы, лосьоны, духи и т.п.). При взаимодействии этих средств с украшениями возможно изменение цвета металла и повреждение поверхности украшения.
                    li.sidebar__list-item Не допускайте контакта украшений с моющими средствами – входящие в их состав вещества могут оставить на украшениях пятна.
                    li.sidebar__list-item Избегайте ношения украшений в условиях интенсивного ультрафиолетового излучения и воздействия повышенных температур. Прямые солнечные лучи могут повредить и испортить первозданный вид ювелирных изделий.
            .sidebar-product-care__item
                p.sidebar__title Хранение
                ul.sidebar__list
                    li.sidebar__list-item Хранить ювелирные украшения следует в футлярах, в сухом месте. Колье и цепи лучше хранить в отдельных футлярах, чтобы избежать возникновения заломов.
                    li.sidebar__list-item Не допускайте контакт ювелирных украшений друг с другом, иначе на них могут появиться царапины.
                    li.sidebar__list-item Для сохранения тона и глубины цвета украшения с топазами, жемчугом и бирюзой надлежит хранить в местах, где нет воздействия прямого солнечного света и в условиях умеренной влажности.
            .sidebar-product-care__item
                p.sidebar__title Уход
                ul.sidebar__list
                    li.sidebar__list-item Загрязненные ювелирные украшения с камнями следует чистить специальными очистителями, которые вы можете приобрести в наших салонах. Ознакомьтесь с прилагаемой инструкцией перед чисткой
                    li.sidebar__list-item После купания в море украшения следует промывать пресной водой. Морская вода содержит соли и йод, неблагоприятно влияющие на поверхность металла.
                    li.sidebar__list-item Украшения следует регулярно протирать замшей, фланелью или специальными ювелирными протирками, которые продаются в наших салонах. Протирание позволит вернуть украшению глянцевый блеск!
                    li.sidebar__list-item Серебряные украшения рекомендуется регулярно чистить сухой суконной тряпочкой или же мягкой щеткой, смоченной теплой мыльной водой.
                    li.sidebar__list-item Для придания блеска бриллиантам украшения нужно ежемесячно промывать в теплой мыльной воде.
                    li.sidebar__list-item Медь, присутствующая в золотых и серебряных ювелирных сплавах, может оставлять на коже след. Это результат естественного процесса окисления поверхности медесодержащих сплавов драгоценных металлов. Подобный след абсолютно безвреден для здоровья человека и без заметных усилий может быть смыт водой с мылом.