include ../../templates/sidebar.jade

mixin sidebarProductWarranty()
    +sidebar('product-warranty', 'Гарантия и возврат')
        .sidebar-product-warranty
            p.sidebar__title Гарантия
            p.sidebar__text Продавец устанавливает гарантийный срок для всех товаров, представленных на сайте youngsters.ru, который составляет 6 (шесть) календарных месяцев со дня, следующего за днём продажи.
            p.sidebar__text В течение указанного гарантийного срока в случае обнаружения в товаре недостатков, если они не были оговорены продавцом, такой товар признаётся товаром ненадлежащего качества, а продавец (или изготовитель) обязан удовлетворить законные требования потребителя (ст. 18 Закона РФ № 2300-1 от 07.02.1992 «О защите прав потребителей»).
        .sidebar-product-refund
            p.sidebar__title Возврат
            ul.sidebar__list
                li.sidebar__list-item Покупки не подлежат возврату и обмену
                li.sidebar__list-item Товар с браком можно вернуть в течение гарантийного срока