include ../../templates/sidebar.jade

mixin sidebarProductCharacteristics()
    +sidebar('product-characteristics', 'Характеристики изделия')
        .product-info-benefits-sidebar.product-info-benefits-sidebar--characteristics
            p.sidebar__text Мужской перстень из чистейшего высококачественного серебра 925 пробы в классической форме и узором. Перстень украшен круглым индийским ониксом. Классика всегда в моде для любого возраста мужчины.
            ul.sidebar__list
                li.sidebar__list-item Серебро 925 проба 
                li.sidebar__list-item Цвет металла - Белый
                li.sidebar__list-item Средний вес 9,30 гр
                li.sidebar__list-item Вставка - Оникс 28 ct
                li.sidebar__list-item Коллекция - Stone
                li.sidebar__list-item Бренд Youngsters